werkzeug
celery
elasticsearch
elasticsearch_dsl
flask
flask-sqlalchemy
flask-CORS
moviepy
psycopg2
redis
requests
SQLAlchemy
tqdm

git+https://github.com/agonzalezro/python-opensubtitles#egg=python-opensubtitles
